.sidebar {
  width: 200px;
  background-color: #1f1a1a;
  color: #fff;
  left: 0;
  height: 100%;
  position: fixed;
  overflow-x: hidden;
  transition: 0.5s;
  flex: 0 0 500px;
  padding-top: 60px;
  border-right: 1px solid #570404;
}

.sidebar-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.sidebar-menu-item {
  padding: 12px 16px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidebar-menu-item:hover {
  background-color: #571818;
}

.sidebar::-webkit-scrollbar {
  width: 8px;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: rgba(168, 3, 3, 0.384);
  border-radius: 4px;
}

.sidebar::-webkit-scrollbar-track {
  background-color: transparent;
  
}
.username {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.profile-icon {
  width: 150px;
  height: 150px;
  border-radius: 20%;
  object-fit: cover;
}
.logout-container {
  position: absolute;
  bottom: 30px;
  width: 100%;
  text-align: center;
}

.logout-button {
  padding: 10px 20px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s;
}
