.sidebar {

  width: 200px;
  background-color: #1f1a1a;
  color: #fff;
  left:0; 
  height: 100%;
  position: fixed;
  overflow-x: hidden;
  transition: 0.5s;
  flex: 0 0 500px;
  padding-top: 60px;
  border-right: 1px solid #570404;
}

.sidebar-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar-menu-item {
  padding: 12px 16px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidebar-menu-item:hover {
  background-color: #571818;
}