/* VaultCard.css */
.vault-card {
    background-color: rgb(32, 26, 26);
    border: 1px solid #720101;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(114, 3, 3, 0.733);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .vault-icon {
    width: 50px;
    height: 50px;
    margin-bottom: 3px;
  }
  
  .vault-name {
    font-size: 24px;
    margin-bottom: 10px;
    margin-top : 0px;
    font-weight: bold;
  }



  .interaction-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

/*   
  .copy-button,
  .view-button {
    background-color: #1f0602;
    color: white;
    border: none;
    padding: 5px 10px;
    margin-top: 5px;
    border-radius: 3px;
    cursor: pointer;
  }
  */
  .copy-button {

    margin-right: 5px;
  } 

  .button-icon:hover{
    color: #720101;

  }