/* VaultCard.css */
.vault-card {
  background-color: rgb(41, 37, 37,0.5);
  border: 1px solid #720101;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(114, 3, 3, 0.733);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.vault-card:hover {
  box-shadow: 0 2px 30px rgba(194, 0, 0, 0.788);
}


.vault-logo {
  width: 100px;
  height: auto; 
  margin-bottom: 1px;
}

.vault-name {
  font-size: 24px;
  margin-bottom: 10px;
  margin-top: 0px;
  font-weight: bold;
}

.interaction-buttons {
  transform-style: preserve-3d;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative; 
}

.copy-button {
  margin-right: 5px;
}
.settings-button {
  margin-left: 5px;
}
.copy-button:hover,
.settings-button:hover,
.view-button:hover {
  color: #fff0f0;
}

.view-button:hover .label-name {
  opacity: 1;
}
.copy-button:hover .label-name {
  opacity: 1;
}
.settings-button:hover .label-name {
  opacity: 1;
}
.label-name {
  position: absolute;
  top:-14px; 
 
  transform: translateX(-50%);
  background-color: rgba(92, 5, 2, 0.8);
  color: #fff0f0;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 14px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 1s;
  white-space: pre;
}

.password-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(49, 1, 1, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.password {
  font-size: 18px;
  font-weight: bold;
}


.dropdown-options {
  position: absolute;
  bottom: 100%;
  right: 0;
  background-color:  rgba(36, 32, 32, 0.952);
  backdrop-filter: blur(10px);
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 8px;
  z-index: 100;
}

/* Style the dropdown option buttons */
.dropdown-options button {
  display: block;
  width: 100%;
  background: #0f0f0f98;
  border: none;
  padding: 4px 8px;
  cursor: pointer;
  color: #ff2600;
  text-align: left;
  

}

/* Style the dropdown option buttons on hover */
.dropdown-options button:hover {
  background-color: #2c0404;
  color : white;
}

.vault-name-tooltip {
  position: relative;
  display: inline-block;
}

.vault-name-tooltip:hover::after {
  content: attr(data-text);
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 5px;
  border-radius: 3px;
  white-space: nowrap;
  left: 100%;
  top: 50%;
  transform: translate(5px, -50%);
  z-index: 1;
}